APP_PORT=8080
APP_HOST=localhost
PAGE_SIZE=10
DEBUG=true
ENV=dev
DB_NAME=myapp
DB_HOST=localhost
DB_PORT=5433
DB_USER=myuser
DB_PASSWORD=mypassword
DB_SSLMODE=disable
MIGRATE_DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?sslmode=disable
OAUTH_CLIENT_ID=myclient
OAUTH_CLIENT_SECRET=mysecret


